<% include ./partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Hello!</h1>

                <h3>Purpose</h3>

                <p>This page will have an introductory message that will be explaining the app and it functionality.</p>
                <p>This will be another paragraph that will further explain the purpose of the app</p>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>